<div class="max-w-lg mx-auto px-2">
  <h1 class="text-4xl font-bold text-center mt-8">Sign In</h1>
  <%= form_with url: "/", method: :post, class: 'space-y-6' do |f| %>
    <div class="space-y-2" dir="auto">
      <div class="form-control">
        <%= f.label :email, "Email", class: 'label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'base-input' %>
      </div>
      <div class="form-control">
        <%= f.label :password, "Password", class: 'label' %>
        <%= f.password_field :password, autocomplete: 'current-password', class: 'base-input' %>
      </div>
    </div>
    <div class="form-control">
      <%= f.submit "Sign In", class: 'base-button' %>
    </div>
  <% end %>
  
  <div class="flex justify-between mt-4">
    <span>Don't have an account? <%= link_to "Sign up", "/setup", class: 'link link-hover font-semibold' %></span>
  </div>
</div>